@import 'module/modal';

html, body {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.vue-scroller-container {
  position: relative;

  &.margin-bottom {
    margin-bottom: 20px;
  }
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.chart {
  height: 100%;
  width: 100%;
}
